{{ $editor_id := or (.Get "id")  (delimit (shuffle (seq 1 9)) "") }}
{{ $height := or (.Get "height") 360 }}
{{ $readOnly := or (.Get "readOnly") false }}
{{ $language := or (.Get "language") "javascript" }}
{{ $allowRunning := or (.Get "allowRunning") false }}
{{ $disableFoldButton := or (.Get "disableFoldButton") false }}
{{ $defaultFold := or (.Get "defaultFold") false }}

<div id="parent_{{$editor_id}}" > </div>
<script type="text/javascript">
  createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{$height}},
    code:{{ .Inner }},
    readOnly:{{$readOnly}},
    language:{{$language}},
    {{if not $allowRunning }}
    onCodeWillRun: ()=> null,
    {{end}}
    disableFoldButton:{{$disableFoldButton}},
    defaultFold:{{$defaultFold}},
  });
</script>

