{{ $editor_id := or (.Get "id")  (delimit (shuffle (seq 1 9)) "") }}
{{ $height := or (.Get "height") 360 }}
{{ $readOnly := or (.Get "readOnly") false }}
{{ $language := or (.Get "language") "javascript" }}
<div id="parent_{{$editor_id}}" > </div>
<script type="text/javascript">
  createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{$height}},
    code:{{ .Inner }},
    readOnly:{{$readOnly}},
    language:{{$language}},
    onCodeWillRun: ()=> null,
    onCodeRunEnd : ()=>{
    	console.log('editor run end');
    }
  });
</script>

