
{{ $id := delimit (shuffle (seq 1 9)) "" }}
{{ $editor_id := printf "editor_%s" $id }}
{{ $code_height := or (.Get "code-height") 360 }}
{{ $height := or (.Get "height") 360}}

<canvas id="{{$id}}"  style="max-width: 100%; height: 360px;"> </canvas>
<br>
<div id="parent_{{$editor_id}}" />

<script type="text/javascript">
{{ .Inner | safeJS }}
  ContentFit($("#{{$id}}"),{{$height}});
  var myChart = null;
  createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{$code_height}},
    code:{{ .Inner }},
    onCodeRunEnd : ()=>{
      var ctx = document.getElementById('{{$id}}').getContext('2d');
      if(myChart != null)
        myChart.destroy();
      myChart = new Chart(ctx,chart_data);
    }
  })
</script>


