
{{ $id := delimit (shuffle (seq 1 9)) "" }}
{{ $editor_id := printf "editor_%s" $id }}
{{ $code_height := or (.Get "code-height") 360 }}
{{ $height := or (.Get "height") 360}}
{{$hideCode := or (.Get "hideCode") false  }}

<canvas id="{{$id}}"  style="width: 100%; height: 360px;"> </canvas>
{{if $hideCode }}
<div id="parent_{{$editor_id}}" style="display: none;" > </div>
{{else}}
<div id="parent_{{$editor_id}}" > </div>
{{end}}
<script type="text/javascript">
//{{ .Inner | safeJS }}
  //ContentFit($("#{{$id}}"),{{$height}});
  var myChart = null;
  createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{$code_height}},
    code:{{ .Inner }},
    onCodeWillRun:(code)=>{
      return "let chart_data ;\n" +  code + "\n chart_data_{{$id}} = chart_data;"
    },
    onCodeRunEnd : ()=>{
      var ctx = document.getElementById('{{$id}}').getContext('2d');
      if(myChart != null)
        myChart.destroy();
      myChart = new Chart(ctx,chart_data_{{$id | safeJS}});
    }
  })
</script>


