
{{ $id := or (.Get "id") (delimit (shuffle (seq 1 9)) "") }}
{{ $editor_id := printf "editor_%s" $id }}
{{ $code_height := or (.Get "codeHeight") 360 }}
{{ $height := or (.Get "height") 360}}
{{ $hideCode := or (.Get "hideCode") false  }}
{{ $noSetup := or (.Get "noSetup") false }}
{{ $defaultFold := or (.Get "defaultFold") false }}


<iframe id="iframe_{{$id}}" width="100%" height="100%" style="border: 0px;margin: 0;padding: 0;" scrolling="no" frameborder="0" srcdoc='
<head>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
  function setCode(code){
    $("#{{$id}}").children().remove();
    var scale = {{$height}}/720;
    var mapElement = $("#{{$id}}")
    var height = mapElement.width() * scale;    
    mapElement.css("height",height);

    code = "if( typeof remove !== \"undefined\"){remove();};let width =" + mapElement.width() + ";let height = " +height+ ";" + 
{{ if $noSetup }}
    "function setup(){var canvas = createCanvas(" + mapElement.width() +"," + height + ");canvas.parent(\"{{$id}}\");" + code +  "}\n" +
{{ else }}
    code + "; let _setup = setup ;setup = function(){var canvas = createCanvas(" + mapElement.width() +"," + height + ");canvas.parent(\"{{$id}}\"); _setup(this);}\n" + 
{{ end }}
  "new p5();";
    var script = $("#script_{{$id}}");
    if(script !== undefined)
      script.remove();
    script = $("<script id=\"script_"+{{$id}} + "\">");
    script.text(code);
    script.appendTo("head");  
  }
</script>
</head>
<body>
<div id="{{$id}}"  style="width: 100%; height: 100%;"> </div>
</body> '>
</iframe>

{{if $hideCode }}
<div id="parent_{{$editor_id}}" style="display: none;" > </div>
{{else}}
<div id="parent_{{$editor_id}}" > </div>
{{end}}


<script type="text/javascript">
  let codes_{{$id | safeJS }} = {{ .Inner}};
  let hideCode_{{$id | safeJS }} = codes_{{$id | safeJS }}.match(/~~~[\s\S|.]*~~~/g);
  if( hideCode_{{$id | safeJS }} == null) hideCode_{{$id | safeJS }} = "";
  if(hideCode_{{$id | safeJS }}.length > 0)
    hideCode_{{$id | safeJS }} = hideCode_{{$id | safeJS }}[0].replace(/~~~/g,"");
  codes_{{$id | safeJS }} =  codes_{{$id | safeJS }}.replace(/~~~[\s\S|.]*~~~/,"");
  var run_{{$id | safeJS  }} = createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{ $code_height }},
    defaultFold:{{$defaultFold}},
    code:codes_{{$id | safeJS }},
    onCodeWillRun:(code)=> {
      var setCode = document.getElementById("iframe_{{$id}}").contentWindow.setCode;
      if(setCode !== undefined)
        setCode(hideCode_{{$id | safeJS }}  + code);
      return null;
    }
  });
  let lastSize_{{$id | safeJS }} = 0;
  var adjustSize_{{$id | safeJS }} = ()=>{
    var iframe =$("#iframe_{{$id}}");
    if( Math.abs(iframe.width() - lastSize_{{$id | safeJS }}) < 2)
    {
      return;
    }
    lastSize_{{$id | safeJS }} = iframe.width();
    var scale = {{$height}}/720
    run_{{$id | safeJS }}();
    iframe.height(iframe.contents().find("html").height()+4);

  };

  window.addEventListener("resize",adjustSize_{{$id | safeJS }});
  document.getElementById('iframe_{{$id}}').onload = ()=>{ 
    var x = document.getElementById('iframe_{{$id}}');
    var body = (x.contentWindow || x.contentDocument);
    if (body.document) body = body.document.body;
    body.style.padding = 0;
    body.style.margin = 0;
    adjustSize_{{$id | safeJS }}();
  };
</script>