
{{ $id := delimit (shuffle (seq 1 9)) "" }}
{{ $editor_id := printf "editor_%s" $id }}
{{ $code_height := or (.Get "code-height") 360 }}
{{ $height := or (.Get "height") 360}}
{{$hideCode := or (.Get "hideCode") false  }}
<iframe id="iframe_{{$id}}" width="100%" height="100%" style="border: 0px;margin: 0;padding: 0;" scrolling="no" frameborder="0" srcdoc='
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
  function setCode(code){
    $("#{{$id}}").children().remove();
    var scale = {{$height}}/720;
    var mapElement = $("#{{$id}}")
    var height = mapElement.width() * scale;
    
    mapElement.css("height",height);

    code = "let width =" + mapElement.width() + ";let height = " +height+";function setup(){var canvas = createCanvas(" + mapElement.width() +"," + height + ");canvas.parent(\"{{$id}}\");" + code + "}\n new p5();";
    var script = $("#script_{{$id}}");
    if(script !== undefined)
      script.remove();
    script = $("<script id=\"script_"+{{$id}} + "\">");
    script.text(code);
    script.appendTo("head");  
  }
</script>
</head>
<body>
<div id="{{$id}}"  style="width: 100%; height: 100%;"> </div>
</body> '>
</iframe>

{{if $hideCode }}
<div id="parent_{{$editor_id}}" style="display: none;" > </div>
{{else}}
<div id="parent_{{$editor_id}}" > </div>
{{end}}


{{$fcodes := split .Inner "\n"}}
{{$scode := delimit $fcodes "\\n" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<script type="text/javascript">
  var runeditor_{{$id | safeJS  }} = createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{ trim $code_height "\n" }},
    code:{{ .Inner }},
    onCodeWillRun:(code)=> 
    {
      var setCode = document.getElementById("iframe_{{$id}}").contentWindow.setCode;
      if(setCode !== undefined)
        setCode(code);
      return null;
    }
  });

  var adjustSize = ()=>{
    
    var iframe =$("#iframe_{{$id}}");
    var scale = {{$height}}/720
    iframe.css("height", iframe.width() * scale);
    runeditor_{{$id | safeJS }}();
    iframe.height(iframe.contents().find("html").height()+4);

    //iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 4 + 'px';
  };
  window.addEventListener("resize",adjustSize);
  document.getElementById('iframe_{{$id}}').onload = adjustSize;
</script>