
{{ $id := delimit (shuffle (seq 1 9)) "" }}
{{ $editor_id := printf "editor_%s" $id }}
{{ $code_height := or (.Get "code-height") 360 }}
{{ $height := or (.Get "height") 360}}
{{ $hideCode := or (.Get "hideCode") false  }}

<canvas id="{{$id}}"  style="width: 100%; height: 360px;"> </canvas>

{{if $hideCode }}
<div id="parent_{{$editor_id}}" style="display: none;" > </div>
{{else}}
<div id="parent_{{$editor_id}}" > </div>
{{end}}

<script> 
  /*
  */
  /**
   * Provides requestAnimationFrame in a cross browser way.
   * paulirish.com/2011/requestanimationframe-for-smart-animating/
   */
  window.requestAnimationFrame = window.requestAnimationFrame || ( function() {

    return  window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function(  callback, element ) {
              window.setTimeout( callback, 1000 / 60 );
            };

  })();

__createShader__ = typeof __createShader__ != 'undefined' ? __createShader__ : function (canvas,fragment_shader) {
  let gl, 
      buffer, 
      currentProgram,
      vertex_position,
      timeLocation,
      resolutionLocation,
      parameters = {  start_time  : new Date().getTime(), 
                      time        : 0, 
                      screenWidth : 0, 
                      screenHeight: 0 };


  let createShader = function ( src, type ) {

    var shader = gl.createShader( type );

    gl.shaderSource( shader, src );
    gl.compileShader( shader );

    if ( !gl.getShaderParameter( shader, gl.COMPILE_STATUS ) ) {

      alert( ( type == gl.VERTEX_SHADER ? "VERTEX" : "FRAGMENT" ) + " SHADER:\n" + gl.getShaderInfoLog( shader ) );
      return null;

    }

    return shader;

  }

  let createProgram = function ( vertex, fragment ) {

    var program = gl.createProgram();

    var vs = createShader( vertex, gl.VERTEX_SHADER );
    var fs = createShader( '#ifdef GL_ES\nprecision highp float;\n#endif\n\n' + fragment, gl.FRAGMENT_SHADER );

    if ( vs == null || fs == null ) return null;

    gl.attachShader( program, vs );
    gl.attachShader( program, fs );

    gl.deleteShader( vs );
    gl.deleteShader( fs );

    gl.linkProgram( program );

    if ( !gl.getProgramParameter( program, gl.LINK_STATUS ) ) {

      alert( "ERROR:\n" +
      "VALIDATE_STATUS: " + gl.getProgramParameter( program, gl.VALIDATE_STATUS ) + "\n" +
      "ERROR: " + gl.getError() + "\n\n" +
      "- Vertex Shader -\n" + vertex + "\n\n" +
      "- Fragment Shader -\n" + fragment );

      return null;

    }

    return program;

  }




  let resizeCanvas = function ( event ) {

    if ( canvas.width != canvas.clientWidth ||
       canvas.height != canvas.clientHeight ) {

      canvas.width = canvas.clientWidth;
      canvas.height = canvas.clientHeight;

      parameters.screenWidth = canvas.width;
      parameters.screenHeight = canvas.height;

      gl.viewport( 0, 0, canvas.width, canvas.height );

    }

  }
  
  let render = function () {

    if ( !currentProgram ) return;

    parameters.time = new Date().getTime() - parameters.start_time;

    gl.clear( gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT );

    // Load program into GPU

    gl.useProgram( currentProgram );

    // Set values to program variables

    gl.uniform1f( timeLocation, parameters.time / 1000 );
    gl.uniform2f( resolutionLocation, parameters.screenWidth, parameters.screenHeight );

    // Render geometry

    gl.bindBuffer( gl.ARRAY_BUFFER, buffer );
    gl.vertexAttribPointer( vertex_position, 2, gl.FLOAT, false, 0, 0 );
    gl.enableVertexAttribArray( vertex_position );
    gl.drawArrays( gl.TRIANGLES, 0, 6 );
    gl.disableVertexAttribArray( vertex_position );

  }

  let vertex_shader = "attribute vec3 position;void main() {gl_Position = vec4( position, 1.0 );}";
  
  let updateShader = function (fragment_shader) {
    fragment_shader = "uniform float iTime;\nuniform vec2 iResolution;\nvoid mainImage( out vec4 fragColor, in vec2 fragCoord );\nvoid main( void ) {\nmainImage(gl_FragColor,gl_FragCoord.xy);\n}" + fragment_shader;
    if(currentProgram){
      gl.createProgram(currentProgram);
    }
    currentProgram = createProgram( vertex_shader, fragment_shader );

    timeLocation = gl.getUniformLocation( currentProgram, 'iTime' );
    resolutionLocation = gl.getUniformLocation( currentProgram, 'iResolution' );
  }

  let init = function () {
    // Initialise WebGL

    try {

      gl = canvas.getContext( 'webgl' );

    } catch( error ) { }

    if ( !gl ) {
      gl = canvas.getContext( 'experimental-webgl' );

    }

    // Create Vertex buffer (2 triangles)

    buffer = gl.createBuffer();
    gl.bindBuffer( gl.ARRAY_BUFFER, buffer );
    gl.bufferData( gl.ARRAY_BUFFER, new Float32Array( [ - 1.0, - 1.0, 1.0, - 1.0, - 1.0, 1.0, 1.0, - 1.0, 1.0, 1.0, - 1.0, 1.0 ] ), gl.STATIC_DRAW );

    // Create Program
    updateShader(fragment_shader);


  }


  let animate = function () {

    resizeCanvas();
    render();
    requestAnimationFrame( animate );

  }

  init();
  animate();
  return updateShader;
}
let fsCode_{{$id | safeJS }} = {{ .Inner }};
let updateShader_{{$id | safeJS }} = __createShader__(document.getElementById('{{$id}}'),fsCode_{{$id | safeJS }});
createAceEditor({
    parent :$("#parent_{{$editor_id}}"),
    id:"{{$editor_id}}",
    height:{{ $code_height }},
    code: fsCode_{{$id | safeJS }},
    language:"glsl",
    onCodeWillRun:(code)=> {
      updateShader_{{$id | safeJS }}(code);
      return null;
    }
  });


ContentFit($("#{{$id}}"),{{$height}});
</script> 